h1,h2,h3,p,span,a{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color:#9ba5de;
}



html {
    background-color: #2f3a74;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    width: 100%;
    
}

label{
    margin-right: 5rem;
    color:#9ba5de;
}

form {
    width: 80%;
    margin-bottom: 1rem;
    background-color: none;
    align-self: center;
    margin-left: 3rem;

    h2{
        color: #9ba5de;
    }

    fieldset {
        border-radius: 0.25rem;
        border: 1px solid var(--color-borde);
    }

    legend {
        font-weight: 500;
    }

    div {
        display: flex;
    }

    label {
        width: 10rem;
    }

    input {
        flex-grow: 1;
        border: 1px solid var(--color-borde);
        border-radius: 0.25rem;
        padding: 0.25rem;

        margin-bottom: 0.5rem;
    }

    select{
        width: 30%;
    }
}

.formulario{
    width: 90%;
   
    margin-left: 1rem;
    background-color: #2f3a74;
    height: 100%;
    display: block;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.titulo{
    align-items: center;
    justify-content: center;
    align-self: center;
}

h1{
    margin-left: 15rem;
}



.tarjetas{
    width: 80%;
    background-color: #2f3a74;
    height: fit-content;
    margin-right: 1rem;
   
    h3,h1,b,span,p{
        color: #1d285c;
    }
}

.select{
    margin-top: 1rem;
    margin-bottom: 1rem;

    label{
        width: 10rem;
    }

    
}

.fot{
    display: flex;
    align-items: center;


    button{
        height: 30%;
        width: 20%;
        margin-left: 11rem;
    }
}

button{
    background-color: none;
    width: 20%;
}

.limpiarbtn{
    margin-left: 3rem;
}


/*Estilos de las tarjetas*/

/* Grid responsivo */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 16px;
  overflow: auto;
}

/* Tarjeta */
.card {
  background: #9ba5de;            /* color ejemplo */
  border: 1px solid #2b335d;
  border-radius: 12px;
  padding: 12px;
  display: grid;
  gap: 8px;
  height: 60%;
  width: 80%;
  margin: 1rem;
}

.card .header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.card h3 {
  margin: 0;
  font-size: 22px;
}

.card .meta {
  font-size: 16px;
  
  display: grid;
  gap: 4px;
}

.card .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: auto;
  margin-bottom: 1rem;
  
}


.card a {
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 8px;
  font-style: normal;
  background: #43509e;
  border: 1px solid #2b335d;
  color: #e7ebff;
  cursor: pointer;
  width: 30%;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

section{
    margin-left: 1rem;
}
